{% extends 'base.html.twig' %}

{% block title %}Web Robot Schedule{% endblock %}

{% block body %}

<h1>Schedule</h1>
<hr>
<div>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% if is_edit %}
{{ include('modal/modal_delete.twig', { 'button': true }) }}
{% endif %}
</div>


{% endblock %}
