<!DOCTYPE html>
<head>
  <title>The Web Robot</title>
  <link rel="stylesheet" href="/assets/index.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One|Share+Tech+Mono">
  <script type="text/javascript" src="/assets/session.js"></script>
{% block head %}
{% endblock %}
</head>
<body>
<div id="menu">
  <ul class="menu">
    <li class="menu"><a class="menu" href="/">Home</a></li>
    <li class="menu"><a class="menu" href="/create/">Create</a></li>
    <li class="menu"><a class="menu" href="/live/">Live</a></li>
    <li class="menu_icon"><img src="/assets/images/robot-64x64.png"></li>
  </ul>
</div>
<div id="content">
	{% block content %}{% endblock %}
</div>
</body>
</html>
