<!DOCTYPE html>
<head>
  <title>The Web Robot</title>
  <link rel="stylesheet" href="/assets/index.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One|Share+Tech+Mono">
  <script type="text/javascript" src="/assets/session.js"></script>
{% block head %}
{% endblock %}
</head>
<body>
<div id="content">
	{% block content %}{% endblock %}
</div>
</body>
</html>
