<!DOCTYPE html>
<head>
  <title>Robot Controller</title>
  <link rel="stylesheet" href="/assets/index.css">
</head>
<body>
<div class="menu">
  <ul class="menu">
    <li class="menu"><a class="menu" href="/">Home</a></li>
    <li class="menu"><a class="menu" href="/create/">Create</a></li>
  </ul>
</div>
<div class="content">
	{% block content %}{% endblock %}
</div>
</body>
</html>
