{% extends "base.html.twig" %}

{% block content %}

<div id="confirm">
<p>Are you sure?</p>
<form action="/{{ action }}" method="get">
{% for param in params %}
<input type="hidden" name="{{ param.key }}" value="{{ param.value }}">
{% endfor %}
<button type="submit" class="create_submit confirm_submit">Yes</button>
<button type="submit" class="confirm_cancel" onclick="history.back()">No</button>
</form>
</div>
<p>{{ message }} </p>

{% endblock %}
