{% extends "base.html.twig" %}

{% block content %}

<script>
const xmlhttp = new XMLHttpRequest();
xmlhttp.open("GET", "/live/stream.php");
xmlhttp.onreadystatechange = function() {
	textarea = document.getElementById('log');
	if (xmlhttp.readyState === 3) {
		textarea.value = xmlhttp.responseText;
		textarea.scrollTop = textarea.scrollHeight;
		if (textarea.value.length > 16384) {
			textarea.value = textarea.value.slice(textarea.value.length - 16384, textarea.value.length);
		}
	}
	
}
xmlhttp.send();
</script>
<div id="log-div">
  <textarea id="log" readonly>
  </textarea>
</div>

{% endblock %}
