{% extends "base_login.html.twig" %}

{% block head %}
<script type="text/javascript" src="/assets/login.js"></script>
{% endblock %}

{% block content %}

<p id="login_error"></p>

<form onsubmit="return login_validate(this);" action="/login/" name="create_form" method="post">
  <input type="hidden" name="token" value="{{ token }}">
  <label for="address" class="create_label">Username</label>
  <input type="text" id="username" name="username" class="create_input">
  <label for="address" class="create_label">Password</label>
  <input type="password" id="password" name="password" class="create_input">
  <br>
  <input type="submit" class="create_submit" value="Login">
</form>

{% endblock %}
