{% extends "base_login.html.twig" %}

{% block head %}
{% endblock %}

{% block content %}

<h1>Error</h1>
<p>{{ message }}</p>
<button class="create_submit" onclick="history.back()">Back</button>

{% endblock %}
