@import '~bootstrap/scss/bootstrap';

body {
    font-size: 11pt;
    font-family: "IBM Plex Sans", "Open Sans", sans-serif;
}

pre.record-view {
    font-family:'Courier New', Courier, monospace;
}

iframe.record-view {
    width: 100%;
    height: 480px;
}

.confirm {
    width: 100%;
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input {
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}


.search input:focus {
    box-shadow: none;
    border: 2px solid blue;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
}

.search button {
    position: absolute;
    top: 0px;
    right: 0px;
}
