{% extends 'base.html.twig' %}

{% block title %}User Settings{% endblock %}

{% block body %}

<h1>User Settings</h1>
<hr>
<h3>Authentication</h3>
<p>Enter your existing password followed by your new password.</p>

<hr>

{{ form(form) }}

{% endblock %}
