{% extends 'base.html.twig' %}

{% block title %}Web Robot Log{% endblock %}

{% block body %}
<h1>Logs</h1>
<hr>
<div {{ stimulus_controller('robot-log', {
     baseUrl: path('app_robot_log'), token: csrf_token('update-log')
}) }}>
    <div class="form-group">
        <label>Address</label>
        <select data-robot-log-target="botId" class="form-control">
            <option value="" selected disabled>Select an address...</option>
        </select>
    </div>

    <div class="form-group visually-hidden" data-robot-log-target="datesDiv">
        <label>Date</label>
        <select data-robot-log-target="dates" class="form-control">
            <option value="" selected disabled>Select a date...</option>
        </select>
    </div>

    <pre class="visually-hidden overflow-auto bg-light border p-3 rounded-3 text-secondary" style="height: 480px;" data-robot-log-target="panel">
    </pre>

    <div class="clearfix">
        <div data-robot-log-target="spinner" class="visually-hidden spinner-border text-primary float-end" role="status">
        </div>
    </div>
</div> <!-- end of stimus robot-log controller -->
{% endblock %}
